* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;

}
.container {
	margin: 0px 166px;
}
.header {
	background-image: url(../img/bg.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover; 

	

}
.header-line {
	padding-top: 50px; 
	display: flex;
	align-items: center;

	
}
.header-logo {
	margin-right: 268px;
}

.nav-item:not(:last-child)  {
	margin-right: 25px;
}
.nav-item:last-child {
	margin-right: 105px;
}
.nav-item {
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
}
.cart {
	position: relative;
	border-right: 1px solid #fff;
	padding-right: 10px;
	height: 50px;
}
.cart-img {
	position: absolute;
	top: 15px;
	right: 3px;

}
.num {
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	margin-right: 45px;
}
.phone-text {

	font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;

	color: #fff;
	max-width: 154px;
}
.btn {
	padding: 14px 18px;
background-color: #FF7400;

}
.btn a {
	text-decoration: none;
	color: #fff;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
}